a.hero-banner-button {
  text-align: center;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #f85b33;
  text-decoration: none;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #f85b33;
  transition: all 0.3s ease-in-out;
  margin: 25px 15px 25px 0;
  display: inline-block;
}

a.hero-banner-button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.3s ease-in-out;
}

a.hero-banner-button:last-child {
  background-color: transparent;
  border-color: #fff;
}

a.hero-banner-button:last-child:hover {
  background-color: #f85b33;
  border-color: #f85b33;
}

@media only screen and (max-width: 992px) {
  a.hero-banner-button {
    display: block;
  }
}
