.hero-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner__content {
  width: 90%;
}

.hero-banner h1 {
  color: #fff;
  font-size: 36px;
  letter-spacing: 1px;
}

.hero-banner p {
  color: #fff;
  font-weight: 400;
  max-width: 450px;
  line-height: 1.8em;
}

@media only screen and (max-width: 992px) {
  .hero-banner {
   align-items: flex-end;
  }
}
